.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.completeItem{
  width: 50%;
  height: 90%;
  border: solid;
}

.itemIcon{
  float: left;
  border: solid;
}

.itemDescription{
  text-align: right;
}

.miniItemBox{
  border:solid;
  width:15%;
  height:15%;
  text-align:right;
}

.miniImage{
  float:left;
}

.ratings{
  width:100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
